<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>duel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page-wrapper">
    <div class="header"><h1>Duel Test</h1>
        <br><br></div>
    <br><br>
    <form th:action="@{/duelWait}" th:object="${player}" method="POST" name="ver">
        <p><span th:text="'Имя: ' +${player.name}"></span></p>
        <p><span th:text="'Рейтинг: ' +${player.rating}"></span></p>
        <p><span th:text="'Урон: ' +${player.damage}"></span></p>
        <p><span th:text="'Здоровье: ' +${player.health}"></span></p>
        <button class="buttonBlue" type="submit">Готовность</button>
    </form>
    <h2 class="stat">Page <span th:text="${#dates.createNow().getTime()} - ${time}"></span>ms,<span th:text="${reqCount}"></span>req(<span th:text="${reqTime}"></span>ms)</h2>
</div>
</body>
</html>