<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header"><h1>Duel Test</h1>
        <br><br></div>
    <br><br>
    <h1>Ожидание противника...</h1>
</div>
<div>
    <h2 class="stat">Page <span th:text="${#dates.createNow().getTime()} - ${time}"></span>ms,<span
            th:text="${reqCount}"></span>req(<span th:text="${reqTime}"></span>ms)</h2>
</div>
</body>
</html>