<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Вход</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header">
        <h1>Duel Test</h1>
        <br><br>
        <h1 class="error"><span th:text="${error}"></span></h1>
    </div>

    <br><br>
    <div>
        <form th:action="@{/verify}" th:object="${player}" method="POST">
            <label>Имя пользователя:</label>
            <input type="text" th:field="*{name}" placeholder="Введите имя" required>

            <label>Пароль:</label>
            <input type="password" th:field="*{password}" placeholder="Введите пароль" required>

            <button class="button" type="submit">Войти</button>
        </form>
    </div>
</div>
</body>
</html>