<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>WIN</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header">
        <h1>Duel Test</h1>
        <br><br>
    </div>

    <h1><span th:text="${message}"></span></h1>
    <p>Характеристики после дуэли:</p>
    <p><span th:text="${hero.name}"></span></p>
    <p><span th:text="'Урон: '+${hero.damage}"></span></p>
    <p><span th:text="'Здоровье: '+${hero.health}"></span></p>
    <p><span th:text="'Рейтинг: '+${hero.rating}"></span></p>
    <form th:action="@{/}" method="POST">
        <button class="buttonRed" type="submit">Выйти</button>
    </form>
</div>
</body>
</html>