<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Welcome</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header">
        <h1>Duel Test</h1>
        <br><br><br>
    </div>
    <br><br>
    <h2><span
            th:text="'Вы вошли как '+${player.name} +' Hp:'+${player.health}+' Rating:'+${player.rating}+' damage:'+${player.damage}"></span>
    </h2>

    <div>
        <br><br>
        <div>
            <form th:action="@{/exit}" th:object="${player}" method="POST" name="ver">
                <button class="buttonRed" type="submit">Выйти</button>
            </form>
            <form th:action="@{/duel}" th:object="${player}" method="POST" name="ver">
                <button class="buttonBlue" type="submit">Дуэль</button>
            </form>
        </div>
    </div>
    <h2 class="stat">Page <span th:text="${#dates.createNow().getTime()} - ${time}"></span>ms,<span th:text="${reqCount}"></span>req(<span th:text="${reqTime}"></span>ms)</h2>
</div>
</body>
</html>